.contnnair{
    width: 50%;
    height: auto;
    text-align: center;
    padding: 10px;
    border: 1px solid;
    margin: 20px 20%;
    font-weight: 600;
    background-color: aquamarine;
}
button{
    margin: 10px;
}
.col{
    margin: 5px;
    border: 1px solid;
}
.listItemBlock{
    padding: 5px;
}
